<!-- pages/catalog/catalog.wxml -->
<view class="container">
    <view class="search">
        <navigator url="/pages/search/search" class="input">
            <image class="icon"></image>
            <text class="txt">商品搜索, 共{{goodsCount}}款好物</text>
        </navigator>
    </view>
    <view class="catalog">
        <scroll-view class="nav" scroll-y="{{true}}">
            <view class="item {{ currentCategory.id == item.id ? 'active' : ''}}" wx:for="{{navList}}" wx:key="id" data-id="{{item.id}}" data-index="{{index}}" bindtap="switchCate">
                {{item.name}}
            </view>
        </scroll-view>
        <scroll-view class="cate" scroll-y="{{true}}">
            <view class="banner">
                <image class="img" src="{{currentCategory.wap_banner_url}}" />
                <view class="txt">{{currentCategory.front_desc}}</view>
            </view>
            <view class="hd">
                <text class="line"></text>
                <text class="txt">{{currentCategory.name}}分类</text>
                <text class="line"></text>
            </view>
            <view class="bd">
                <view class="item" bind:tap="navigatorItem" wx:for="{{currentCategory.subCategoryList}}" wx:key="id" data-id="{{item.id}}">
                    <image class="img" src="{{item.wap_banner_url}}"></image>
                    <text class="txt">{{item.name}}</text>
                </view>
            </view>
        </scroll-view>
    </view>
</view>