<!--pages/shopping/checkout/checkout.wxml-->
<view class="container">
    <view class="address-box">
        <view class="address-item" bindtap="selectAddress" wx:if="{{checkedAddress.id > 0}}">
            <view class="l">
                <text class="name">{{checkedAddress.name}}</text>
                <text class="default" wx:if="{{checkedAddress.is_default === 1}}">默认</text>
            </view>
            <view class="m">
                <text class="mobile">{{checkedAddress.mobile}}</text>
                <text class="address">{{checkedAddress.full_region + checkedAddress.address}}</text>
            </view>
            <view class="r">
                <image src="/static/images/address_right.png"></image>
            </view>
        </view>
        <view class="address-item address-empty" bindtap="addAddress" wx:if="{{checkedAddress.id <= 0}}">
            <view class="m">
               还没有收货地址，去添加
            </view>
            <view class="r">
                <image src="/static/images/address_right.png"></image>
            </view>
        </view>
    </view>

    <view class="coupon-box">
        <view class="coupon-item">
            <view class="l">
                <text class="name">请选择优惠券</text>
                <text class="txt">{{couponList.length}}张</text>
            </view>
            <view class="r">
                <image src="/static/images/address_right.png"></image>
            </view>
        </view>
    </view>

    <view class="order-box">
        <view class="order-item">
            <view class="l">
                <text class="name">商品合计</text>
            </view>
            <view class="r">
                <text class="txt">￥{{goodsTotalPrice}}</text>
            </view>
        </view>
        <view class="order-item">
            <view class="l">
                <text class="name">运费</text>
            </view>
            <view class="r">
                <text class="txt">￥{{freightPrice}}</text>
            </view>
        </view>
        <view class="order-item no-border">
            <view class="l">
                <text class="name">优惠券</text>
            </view>
            <view class="r">
                <text class="txt">-￥{{couponPrice}}</text>
            </view>
        </view>
    </view>

    <view class="goods-items">
        <view class="item" wx:for="{{checkedGoodsList}}" wx:key="id">
            <view class="img">
                <image src="{{item.list_pic_url}}"></image>
            </view>
            <view class="info">
                <view class="t">
                    <text class="name">{{item.goods_name}}</text>
                    <text class="number">x{{item.number}}</text>
                </view>
                <view class="m">{{item.goods_specifition_name_value}}</view>
                <view class="b">￥{{item.retail_price}}</view>
            </view>
        </view>
    </view>

    <view class="order-total">
        <view class="l">实付：￥{{actualPrice}}</view>
        <view class="r" bindtap="submitOrder">去付款</view>
    </view>
</view>
